body {
    text-align : center;
    background-color:rgb(246, 255, 253);
    }

    .app {
        color: darkmagenta;
        font-family: sans-serif;
        font-size: 250%;
        font-weight: 700;
    }

    .result {
        margin-top: 15%;
    }

    #not_fraud {
        color:green;
        font-family: sans-serif;
        font-size: 300%;
        font-weight: 700;

               }

    #fraud {
        color: red;
        font-size: 300%;
        font-family: sans-serif;
        font-weight: 700;

            }